.form {
  padding: 40px;
  max-width: 600px;
  flex: 1 1 auto;
  order: 1;
}

.form__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 24px;
  color: #c2185b;
}

.form__textarea {
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.form__btn {
  display: block;
  margin-top: 40px;
  margin-left: auto;
}
