.form {
  margin: 0 auto;
  padding: 40px;
  max-width: 600px;
}

.form__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 24px;
  color: #c2185b;
}

.form__btn {
  display: block;
  margin-top: 40px;
  margin-left: auto;
}
